.grid {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  column-gap: 32px;
  row-gap: 32px;
  white-space: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar:hover {
  scroll-margin-left: 32px;
  background-color: red;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: rgb(62, 61, 61);
}

.container {
  margin-left: 100px;
}

.container:last-child {
  margin-right: 100px;
}

.grid-info {
  padding: 10px;
  width: 100%;
  row-gap: 32px;
  color: black;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
}

.photo {
  background-image: url(../../../asset/background-image.png);
  width: 100%;
  height: 200px;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  margin-bottom: 8px;
}

.play {
  background-image: url(../../../asset/pngtree-play-icon-image_1128351.jpg);
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  top: 18%;
  left: 30%;
  width: 60px;
  height: 60px;
  font-size: 0.6rem;
  position: absolute;
  position: sticky;
  cursor: pointer;
}
