.gin-img{
    background-image: url(../../../asset/ginuwabg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    height: 100vh;
  }