.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
    margin: 0;
    padding: 0;
}
.bc {
    background-color: #f6f6f8;
}

.fs {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.w-60 {
    width: 60%;
}

.br-30 {
    border-radius: 30px;
}

.gin-container {
    display: flex;
}

.t-20 {
    margin-top: -20px;
}

.mt {
    margin-top: 32px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: -16px;
}

.mb {
    margin-bottom: 16px;
}

.ml {
    margin-left: 16px;
}

.gin-img{
    background-image: url(../../../asset/ginuwabg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    height: 100vh;
}

.gin-info {
    margin-top: 0;
}

.gin-details {
    padding: 20px;
    background-color: white;
}

input[type=text] {
    padding: 14px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    width: 50%;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 8px;
}

.back {
    position: relative;
    top: -20px;
    left: -15px;
    border: 1px solid black;
    text-decoration: none;
}

.gin-cards {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 20px;
}

.cont {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.card {
    background-color: white;
}

.cards {
    width: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: wrap;
    height: 60vh;
}

.card:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.card-logo {
    padding: 10px;
    background-image: url(../../../asset/atuwatse_iii2.jpg);
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.card-details {
    padding-right: 20px;
}

::-webkit-scrollbar {
    display: none;
    width: 4px;
}

.break {
    background-color: rgb(203, 203, 203);
    width: 5px;
    border-radius: 5px;
    height: 60vh;
    margin-left: 20px;
    margin-right: 20px;
}

.gin-descrip {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.card2-logo {
    padding: 10px;
    background-image: url(../../../asset/logo.png);
    width: 140px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.more-details {
    width: 100%;
}