.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
    margin: 0;
    padding: 0;
}
.bc {
    background-color: #f6f6f8;
}

.fs {
    font-size: 12px;
}

.w-60 {
    width: 60%;
}

.br-30 {
    border-radius: 30px;
}

.warri-container {
    display: flex;
}

.t-20 {
    margin-top: -20px;
}

.mt {
    margin-top: 32px;
}

.mb {
    margin-bottom: 16px;
}

.ml {
    margin-left: 16px;
}

.warri-img{
    background-image: url(../../../asset/awala-crowning.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    height: 100vh;
}

.warri-info {
    margin-top: 0;
}

.warri-details {
    padding: 20px;
    background-color: white;
}

input {
    padding: 14px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    width: 50%;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 8px;
}

.back {
    position: relative;
    top: -20px;
    left: -15px;
    border: 1px solid black;
    text-decoration: none;
}

.warri-cards {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 20px;
}

.cont {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.w-card {
    background-color: white;
}

.w-cards {
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: wrap;
    height: 60vh;
}

.w-card:hover {
    cursor: pointer;
    background-color: red;
}

.w-card1,
.w-card2,
.w-card3, 
.w-card4,
.w-card5,
.w-card6,
.w-card7,
.w-card8,
.w-card9,
.w-card10,
.w-card11
.w-card12{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.w-card-logo {
    border: 1px solid ;
    padding: 10px;
    background-image: url(../../../asset/traditional_council.jpg);
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
}

.w-card-logo:hover {
    background: block;
    cursor: pointer;
}

.w-card-details {
    padding-right: 20px;
}

::-webkit-scrollbar {
    display: none;
    width: 4px;
}

.break {
    background-color: rgb(203, 203, 203);
    width: 5px;
    border-radius: 5px;
    height: 60vh;
    margin-left: 20px;
    margin-right: 20px;
}

.warri-descrip {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.w-card2-logo {
    padding: 10px;
    background-image: url(../../../asset/traditional_council.jpg);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.more-details {
    width: 100%;
}