* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hist-container {
  color: #212529;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w {
  background-color: white;
  padding: 40px;
}

.mt-15 {
  margin-top: -15px;
}

.mt-70 {
  margin-top: -70px;
}

.mb-10 {
  margin-bottom: 10px;
}

.fs {
  font-size: 1.25rem;
}

.monarch {
    border-top: 32px;
    padding: 30px;
    background-color: #f6f6f8;
}

.monarch-history {
  border-radius: 10px;
  margin-top: 32px;
  height: 75vh;
  font-size: 0.8rem;
  white-space: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(214, 210, 210);
  border-radius: 10px;
}

.slideshow {
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
}

.mainImg {
  margin-top: 70px;
  transition: all 500ms;
  width: 350px;
  vertical-align: middle;
}

.actions {
  position: absolute;
  top: 60%;
  width: 190%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  width: 20px;
  height: 35px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
}

.actions .next {
  margin-right: 0;
}

.ft {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  width: 100%;
  /* border: 1px solid black; */
}

.back {
  height: 35px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 5px;
  width: 35px;
  border-radius: 50px;
  position: relative;
}

.backed {
  text-decoration: none;
}
