h1,
h2 {
    font-weight: bold;
}

.hist-container {
    color: #212529;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w {
    background-color: white;
    padding: 40px;
}

.mt-15 {
    margin-top: -15px;
}

.mt-70 {
    margin-top: -70px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.fs {
    font-size: 1.25rem;
}

.monarch {
    border-top: 32px;
    padding: 30px;
    background-color: #f6f6f8;
}

.monarch-history {
    border-radius: 10px;
    margin-top: 32px;
    height: 75vh;
    font-size: 0.8rem;
    white-space: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(214, 210, 210);
    border-radius: 10px;
}

.mrl {
    margin-left: 30px;
    margin-right: 30px;
}

.slideshow {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.mainImg {
    margin-top: 32px;
    transition: all 500ms;
    width: 350px;
    vertical-align: middle;
}

.actions {
    position: absolute;
    top: 55%;
    width: 100%;
    gap: 320px;
    display: flex;
    justify-content: space-between;
}

.actions button {
    width: 50px;
    height: 30px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

.back {
    margin-top: 20px;
    padding: 4px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50px;
}

  