.lg-fm {
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

form > input {
  padding: 14px;
  background-color: transparent;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 50px;
  width: 90%;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.btn-lg-md {
  padding: 15px;
  background-color: rgb(210, 18, 32);
  color: white;
  border: 0px;
  border-radius: 50px;
  width: 90%;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.lg-fd-d {
  color: #0550ae;
  font-size: 0.8rem;
}
.lg-btn {
  padding: 10px;
  background-color: transparent;
  color: rgb(195, 195, 195);
  border: 1px solid rgb(195, 195, 195);
  border-radius: 50px;
  width: 90%;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.lg-btn:hover,
.btn-md:hover {
  color: #0d6efd;
  cursor: pointer;
}

.lg-p {
  font-size: 0.8rem;
  width: 90%;
  line-height: 1rem;
  color: #212529;
  margin-bottom: 1.5rem;
}

.btn-md {
  background-color: transparent;
  color: rgb(195, 195, 195);
  border-radius: 50px;
  width: 90%;
  border: none;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.lg-h1 {
  width: 90%;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #212529;
}

.bw-2 {
  display: none;
}

@media screen and (max-width: 775px) {
  .btn-m-d {
    background-color: transparent;
    color: #212529;
    border-radius: 50px;
    width: 90%;
    border: none;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .btn-m-d:hover {
    color: #0d6efd;
    cursor: pointer;
  }
  .back-2 {
    text-decoration: none;
  }
  .bw-2 {
    display: block;
  }
}
